<%= link_to 'New Round!', play_path%>


<table id="cardList" class="tablesorter">
  <thead>
    <tr>
      <th>Name</th>
      <th>Set</th>
      <th>Card type</th>
      <th>Sub type</th>
      <th>Cost</th>
    </tr>
  </thead>

  <tbody>
    <% @kingdom_cards.each do |kingdom_card| %>
      <tr data-card-id="<%=kingdom_card.id%>">
        <td><%= kingdom_card.name %></td>
        <td><%= kingdom_card.set %></td>
        <td><%= kingdom_card.card_type %></td>
        <td><%= kingdom_card.sub_type %></td>
        <td><%= kingdom_card.cost %></td>
        <td><button class="btn">Repick Card</button></td>
      </tr>
    <% end %>
  </tbody>
</table>
