<!DOCTYPE html>
<html>
  <head>
    <title>Dominion Randomizer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="/assets/javascripts/jquery.tablesorter.js"></script>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
